/* Index */

/* Main */

.flexible-img{
    height: 250px;
}

/* Error warning alert */

#alert-toast {
    transition: transform 0.5s ease-in-out; /* Esto hace que el toast se deslice */
    transform: translateX(100%); /* Inicialmente, lo posicionamos fuera de la pantalla */
}

#alert-toast.show {
    transform: translateX(0); /* Lo muestra deslizando desde la derecha */
}

/* Footer */

/* List items */

li:hover{
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Media queries */

/* Index */

/* Main */

@media screen and (min-width: 768px) {
    .flexible-img{
        height: 280px;
    }
}